# EXAMPLE ENVIRONMENT VARIABLES FILE
# Rename this file to ".env" and fill in the values as needed.

# Main server configurations

PORT=3000

# Database configurations
# PostgreSQL settings
# These will be used in development environment to connect to the local database

# Database host
DB_HOST=localhost

# Database port
DB_PORT=5432

# Database user credentials
DB_USER=projecttooluser

# Database password
DB_PASSWORD=

# Database name
DB_NAME=projecttooldb

# Clear database on startup for development. Set to "true" to enable. 
# DO NOT use in production!
DB_CLEARDB_ON_STARTUP=true