div.project-tech-card {
    div.tech-card-container {
        overflow: visible;
    }

    div.selected-tech {
        flex: 0 0 auto;
        width: 32%;
        position: relative;

        & > .remove-tech-button {
            position: absolute;
            top: -1.5rem;
            right: -0.75rem;
            z-index: 1;
            opacity: 0.5;
            transition: all 0.2s ease;
            border-radius: var(--mantine-radius-xl);

            &:hover {
                opacity: 1;
                border-radius: var(--mantine-radius-default);
            }
        }
    }
}

div.project-tech-add-modal {
    button.tech-option {
        /* Default mantine button styles overridden with CSS variables for easier theming */
        border-radius: var(--button-radius, var(--mantine-radius-default));
        font-size: var(--button-fz, var(--mantine-font-size-sm));
        background: var(--button-bg, var(--mantine-primary-color-filled));
        border: var(--button-bd, calc(0.0625rem * var(--mantine-scale)) solid transparent);
        color: var(--button-color, var(--mantine-color-white));

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        

        height: 3.5rem;

        & > .name {
            padding: 0.5rem;
            flex: 2 2 auto;
            width: 60%;
        }

        & > .categories {
            display: flex;
            height: 100%;
            width: 40%;
            background: #0002;
            flex: 1 1 auto;
            margin-left: 0.5rem;
            
            font-size: 0.7rem;
            padding-right: 0.25rem;
            align-items: center;
            justify-content: flex-end;
            text-align: right;
        }

        &:hover {
            /* Default mantine button styles overridden with CSS variables for easier theming */
            background-color: var(--button-hover, var(--mantine-primary-color-filled-hover));
            color: var(--button-hover-color, var(--button-color));
        }
    }
}
