div.doc-render {
    div.doc-content-item {
        position: relative;
        display: block;
        width: 100%;

        /* display: flex; */
        /* align-items: center; */
        /* justify-content: flex-start; */

        & > .edit-doc-button-group {
            width: 150px;
            position: absolute;

            /* right: -160px; */
            right: 0;
            top: 0;
            z-index: 100;
        }

        & > div.unknown-doc-content {
            height: 60px;
            width: 100%;
            border: dashed 2px #8884;
            border-radius: 1rem;
            padding: 2rem 0;
        }

        & > h2 {
            margin-left: 0.5rem;
        }

        & > h3 {
            margin-left: 1rem;
        }

        & > fieldset {
            width: 100%;

            margin-bottom: 0.5rem;
        }

        &.hidden:not(.edit-doc-button-group) {
            opacity: 0.2;
        }

        &:hover {
            background: #8881;
        }
    }
}

@media print {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    div,
    span {
        color: black !important;
    }

    div.main-print-area {
        @page {
            size: A4;
            margin: 50mm;
            font-size: 12pt;
        }

        h1 {
            margin-left: 0;
            page-break-before: always;
            margin-bottom: 1rem;
            font-size: 2.2rem;
        }

        h2 {
            margin-left: 0;
            margin-top: 1rem;
            margin-bottom: 0.75rem;
            font-size: 1.8rem;
        }

        h3 {
            margin-left: 0;
            margin-top: 0.75rem;
            font-size: 1.4rem;
        }

        p {
            margin-left: 1rem;
            margin-right: 1rem;
            text-align: justify;
        }

        a {
            font-style: normal;
            text-decoration: none;
        }
    }
}
